.tech {
    margin-left: 18px;
    flex: 1;
}

.developer {
    flex: 1;
}

.techHeader {
    margin-left: 18px;

    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.developerHeader {
    flex: 1;
    display: flex;
    /*align-items: center;*/
    gap: 5px;
}

.row {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    max-width: 50vw;
    padding: 12px 0;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

    display: flex;
}

.row:last-child {
    border-bottom: none;
}

.rowHeader {
    background-color: rgba(229, 229, 229, 1);

    display: flex;
    max-width: 50vw;

    padding: 12px 0;

    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;

}

.loading {
    width: 90px;
    height: 90px;
    border: 8px solid #512DE4;
    border-right-color: #f3f3f3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transition: opacity 0.3s ease;

    position: absolute;
    top: 50%;
    left: 25vw;
    z-index: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}

.blurred {
    filter: blur(3px);
    pointer-events: none; /* Чтобы нельзя было кликать по контенту */
}