.friendMessage {
    width: 462px;
    font-family: Montserrat, sans-serif;
    line-height: 19.5px;
    margin-bottom: 30px;
}

.friendImageAndText {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

    font-weight: 400;
    margin-left: 14px;

    color: rgba(0, 0, 0, 1);
    padding: 8px 13px;
    background-color: rgba(245, 247, 251, 1);
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1);
    border-radius: 10px;

    position: relative;
    z-index: 1;
}

.friendText:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -15px;

    border: 15px solid transparent;
    border-bottom: 10px solid rgba(245, 247, 251, 1);
}

.friendName {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 18px;
}

.friendMessageText {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    line-height: 12.19px;
    max-width: 29px;
    margin-left: 10px;
}
