.burgerMenuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header {
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    box-shadow: 0 0 40px 0 rgba(29, 33, 38, 0.13);

}

.header h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: rgba(0, 0, 0, 1);
}