.pagination {
    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 36px;
}

.text1 {
    margin: 4px 10px 4px 24px;
}

.text2 {
    margin: 4px 6px;
}
